<div class="row">
    <div class="col">
        <button type="submit" class="btn btn-primary form-control">Update</button>
    </div>
    <div class="col row">
        <a class="btn btn-success form-control" asp-action="Index">Back To List</a>
    </div>
</div>